.customization {
    width: 100%;
    padding: 6rem;
    background-color: #fff;
    border-radius: 10px;
    label { 
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .form {
        .customization--header {
            p {
                font-size: 1.6rem;
                font-weight: bold;
                color: #000;
            }
            span {
                font-size: 1.4rem;
            }
        }
        .customization--form {
            .input-logo-preview {
                display: flex;
                justify-content: center;
                img {
                    height: 60px;
                    width: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .input-logo-preview_indicator {                    
                    display: flex;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    cursor: pointer;
                    i {
                        display: none;
                    }
                }
                .input-logo-preview_indicator:hover {
                    background-color: black;
                    opacity: 0.5;
                    i {
                        display: block;
                        font-size: 1.4rem;
                        color: #fff;
                    }
                }
            }
            .color-picker--choose {
                display: flex;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 3rem;
                    p-colorpicker {
                        width: 50px;
                        height: 45px;
                    }
                    span {
                        font-size: 1.2rem;
                        padding-top: 8px;
                    }
                }
            }
            .background {
                width: 100%;
                height: 60px;
                border: solid 2px #c2c2c2;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                cursor: pointer;
                i {
                    color: #000;
                    font-size: 1.6rem;
                    font-weight: 700;
                    align-self: center;
                }
            }
            p-dialog {
                .cropper--content {
                    padding: 2rem 5rem;
                    .cropper--header {
                        p {
                            font-size: 1.6rem;
                            font-weight: bold;
                            color: #000;
                        }
                    }
                    .cropper--footer {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                .background--content {
                    width: 725px;
                    padding: 2rem 5rem;
                    .dialog--header {
                        p {
                            font-size: 1.6rem;
                            font-weight: bold;
                            color: #000;
                        }
                    }
                    .background--items {
                        display: flex;
                        justify-content: space-between;
                        a {
                            border: solid 2px #fff;
                            cursor: pointer;
                            img {
                                height: 120px;
                                width: 120px;
                            }
                        }
                        a:hover {
                            border: solid 2px var(--black);
                        }
                        .item-active {
                            border: solid 2px var(--black);
                        }
                    }
                    .background--footer {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
        .customization--footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 10rem;
        }
    }
    .customization-page {
        .customization-page--link {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            justify-content: end;
            cursor: pointer;
            span {
                font-size: 1.4rem;
            }
            i {
                font-size: 1.4rem;
                padding: 0 5px;
            }
        }
        .customization-page--preview {
            min-height: 100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0.8;
            .page-content {
                background: #fff;
                border-radius: 10px;
                padding: 2rem 2rem;
                .page-content--title {
                    display: flex;
                    align-items: center;
                    .image-logo {
                        img {
                            object-fit: cover;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                    }
                    span {
                        font-size: 1.4rem;
                        font-weight: 700;
                        margin-left: 3rem;
                    }
                }
                .page-content--main {
                    .line {
                        height: 38px;
                        background-color: #c2c2c2;
                    }
                }
                .page-content--footer {
                    .button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 31px;
                        background: #000;
                        span {
                            font-size: 1rem;
                            color: #fff;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
    }
}