<div class="customization mt-6 grid">
    <div class="col-6 form">
        <div class="customization--header">
            <p>Customização</p>

            <span>Customize os e-mails e páginas enviadas para os clientes</span>
        </div>

        <form class="customization--form pt-6 grid" [formGroup]="form">
            <div class="field col-3">
                <label for="logo">Logo</label>
                <p-fileUpload
                    id="logo"
                    mode="basic"
                    name="logo" 
                    url="./upload.php" 
                    accept="image/*"
                ></p-fileUpload>
            </div>
            <div class="field col-3">
                <label for="imageBackground">Papel de parede</label>
                <p-fileUpload
                    id="imageBackground"
                    mode="basic"
                    name="imageBackground" 
                    url="./upload.php" 
                    accept="image/*"
                ></p-fileUpload>
            </div>
            <div class="field col-3">
                <label for="imageBackground">Cores</label>
                <div class="color-picker--choose" formGroupName="color">
                    <div class="color-picker--background">
                        <p-colorPicker 
                            format="hex"
                            formControlName="background"
                            (onChange)="updateColorField(colorPickerBackground.inputBgColor, 'background')"
                            #colorPickerBackground
                        ></p-colorPicker>
                        <span>Fundo</span>          
                    </div>
                    <div class="color-picker--button">
                        <p-colorPicker
                            formControlName="button"
                            format="hex"
                            (onChange)="updateColorField(colorPickerButton.inputBgColor, 'button')"
                            #colorPickerButton
                        ></p-colorPicker>
                        <span>Botão</span>          
                    </div>
                </div>
            </div>
            <div class="field col-12">
                <label for="url">URL Customizada</label>
                <input
                    type="text"
                    id="url"
                    pInputText
                    placeholder="Exemplo: Raipp-Studio"
                />
            </div>
        </form>

        <div class="customization--footer">
            <button 
                type="button" 
                class="secondary-form-button"
                (click)="clearForm()"
                >
                Limpar tudo
            </button>
            <button 
                type="button" 
                class="primary-form-button ml-5"
                (click)="submitForm()"
                >
                Salvar modelo
            </button>
        </div>
    </div>
    <div class="col-6 customization-page">
        <a class="customization-page--link">
            <span>Visualize a URL da página</span>

            <i class="pi pi-angle-right"></i>
        </a>
        <div class="customization-page--preview">
            <div class="page-content">
                <div class="page-content--title">
                    <div>
                        <p>LOGO</p>
                    </div>
                    <span>Informações da cobrança</span>
                </div>
                <div class="page-content--main my-5 grid">
                    <div class="col-12 mt-3 line"></div>
                    <div class="col-6 mt-3 line"></div>
                    <div class="col-offset-2 col-4 mt-3 line"></div>
                    <div class="col-10 mt-3 line"></div>
                </div>
                <div class="page-content--footer grid py-5">
                    <div class="col-12 button">
                        <span>Pagar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>