.aside {
    height: 100%;
    width: 100%;
    background: #fff;
    border-right: solid 1px #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        text-decoration: none;
        cursor: pointer;
    }
    li {
        padding: 0;
        list-style: none;
    }
    .aside_logo-image {
        margin-top: 2rem;
    }
    .aside-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;
        .aside-items {
            margin: 1rem 0;
            img {
                width: 20px;
            }
            .image-new {
                width: 32px;
            }
            img:hover {
                fill: var(--primary);
            }
        }
        .aside-items.active {
            fill: var(--primary);
        }
    }
    .aside-footer {
        border-top: 1px solid #cccc;
        .aside-footer_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
            img {
                width: 22px;
            }
            .profile-photo {
                margin-top: 1rem;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 1px;
                border: solid 1px #cccc;
                object-fit: cover;
            }
        }
    }
}