<app-navbar>
    <div class="plans-navbar">
      <a (click)="cancel()"><i class="pi pi-angle-left"></i></a>
      <span>Novo plano</span>
    </div>
</app-navbar>

<div class="content">
    <div class="plans">
        <div class="plans--header">
          <p>Dados do plano</p>
        </div>

        <form class="plans--form my-6 grid" [formGroup]="plansForm">
          <div class="field col-8" formGroupName="plan">
              <label for="name">Nome</label>
              <input
                type="text"
                id="name"
                pInputText
                placeholder="Nome do plano"
                formControlName="name"
              />
          </div>
          <div class="field col-4 term-switch" formGroupName="plan">
            <label>'</label>
            <div class="term-switch--item ml-3">
              <p-inputSwitch
                formControlName="enableCycle"
              ></p-inputSwitch>

              <span>Habilitar prazo na assinatura</span>
            </div>
          </div>

          <div *ngIf="plansForm.get('plan.enableCycle')?.value == true"
            class="field col-3">
              <label for="subscriptionTerm">Qual o prazo da assinatura</label>
              <input
                type="text"
                id="subscriptionTerm"
                pInputText
                placeholder="Caso não tenha deixar em branco"
              />
          </div>

          <div *ngIf="plansForm.get('plan.enableCycle')?.value == true"
            class="field col-3">
              <label for="limit">Limite de adesão</label>
              <input
                type="text"
                id="limit"
                pInputText
                placeholder="Qual o limite"
              />
          </div>

          <div class="field col-11" formGroupName="plan">
              <label for="description">Descrição</label>
              <input
                type="text"
                pInputText
                id="description"
                placeholder="Descreva o plano"
                formControlName="description"
                maxlength="150"
                (input)="updateDescriptionLength()"
              />
          </div>
          <div class="field col-1 text-length">
              <label>'' </label>
              <span>
                  {{ descriptionLength }}/150
              </span>
          </div>

          <div class="plans--header py-6 col-12">
            <p>Cobrança</p>
          </div>

          <div class="field col-6 md:col-3" formGroupName="billing">
              <label for="value">Valor</label>
              <p-inputNumber
                  placeholder="R$"
                  prefix="R$ "
                  mode="decimal"
                  id="value"
                  [minFractionDigits]="2"
                  formControlName="amount"
              ></p-inputNumber>
          </div>
          <div class="field col-6 md:col-3" formGroupName="billing">
              <label for="subTax">Taxa de adesão </label>
              <p-inputNumber
                  placeholder="R$"
                  prefix="R$ "
                  id="subTax"
                  mode="decimal"
                  [minFractionDigits]="2"
                  formControlName="subTax"
              ></p-inputNumber>
          </div>
          <div class="field col-6 md:col-3" formGroupName="billing">
              <label for="frequency">Frequencia</label>
              <p-dropdown
                  [options]="frequencySelectItems"
                  id="frequency"
                  optionLabel="name"
                  optionValue="value"
                  formControlName="frequency"
                  (onChange)="plansForm.get('billing.chargeDate')?.reset()"
              ></p-dropdown>
          </div>
          <div *ngIf="plansForm.get('billing.frequency')?.value === 'monthly'" 
              class="field col-6 md:col-3"
              formGroupName="billing">
              <label for="chargeDate">Dia da cobrança</label>
              <p-inputNumber
                [useGrouping]="false"
                placeholder="Qual o dia?"
                id="chargeDate"
                [max]="31"
                [min]="1"
                formControlName="chargeDate"
              ></p-inputNumber>
          </div>
          <div *ngIf="plansForm.get('billing.frequency')?.value === 'weekly'" 
              class="field col-6 md:col-3"
              formGroupName="billing">
              <label for="chargeDateDropdown">Dia da cobrança</label>
              <p-dropdown
                id="chargeDateDropdown"
                placeholder="Qual o dia?"
                optionLabel="name"
                optionValue="value"
                [options]="weeklyDaysSelectItems"
                formControlName="chargeDate"
              >
              </p-dropdown>
          </div>

          <div class="field col-6 md:col-3" formGroupName="billing">
              <label for="chargeNow">Cobrar imediatamente</label>
              <p-dropdown
                [options]="options"
                id="chargeNow"
                optionLabel="name"
                optionValue="value"
                formControlName="chargeNow"
              ></p-dropdown>
          </div>

          <div class="field col-6 md:col-3" formGroupName="billing">
              <label for="proporcionalAmount">Cobrar proporcionalmente</label>
              <p-dropdown
                [options]="options"
                id="proporcionalAmount"
                optionLabel="name"
                optionValue="value"
                formControlName="proporcionalAmount"
              ></p-dropdown>
          </div>
        </form>

        <div class="plans--footer">
          <button 
            type="button" 
            class="secondary-form-button"
            (click)="clearForm()"
            >
            Limpar
          </button>
          <button 
            type="button" 
            [class]="!formSubmited ? 'primary-form-button' : 'disabled-form-button'"
            (click)="submitForm()"
            >
            Criar plano
          </button>
        </div>
    </div>
</div>