<app-navbar>
    <div class="invoices-navbar">
      <span class="invoices-navbar--title">
        Faturas
      </span>
  
      <div class="invoices-navbar--buttons">
        <a (click)="navigateToForm()"><i class="pi pi-plus"></i></a>
        
        <a><i class="pi pi-sliders-h"></i></a>
      </div>
    </div>
  </app-navbar>
  
  <div class="content">
    <app-table
      [columns]="invoicesColumns"
      [fields]="invoicesFields"
      [pipes]="invoicesPipes"
      [actions]="invoicesActions"
      [value]="invoices"
      [totalRecords]="totalRecords"
      [pageLimit]="pageLimit"
      (loadMoreItems)="loadMoreItems($event)"
    ></app-table>
  </div>