.products-services-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .products-services-navbar--title {
        font-size: 2rem;
        font-weight: 700;
    }
    .products-services-navbar--buttons {
        display: flex;
        align-items: center;
        height: 100%;
        a:first-of-type {
            border-right: solid 1px var(--line);
            padding-right: 2rem;
        }
        a {
            margin-left: 2rem;
            cursor: pointer;
        }

        i {
            font-size: 2rem;
            font-weight: 500;
        }   
    }
}
p-dialog {
    .dialog--header {
        display: flex;
        justify-content: center;
        p {
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
    .dialog--content {
        margin: 1rem 5rem 1rem 5rem;
        .dialog--button {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: solid 1px var(--line);
            border-radius: 8px;
            height: 150px;
            justify-content: space-between;
            padding: 1rem;
            cursor: pointer;
            img {
                height: 200;
            }
            span {
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
        .dialog--button:hover {
            background-color: var(--content-background);
            transition: .3s;
        }
    }
}