.field .field--button {
    display: flex;
    flex-direction: row;
    button {
        width: 8rem;
        margin-left: 1rem;
        font-size: 1.4rem;
    }
}

.header-title {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 1.6rem;
        font-weight: bold;
    }
}