<p-table [value]="value" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-checkbox 
          [binary]="true"
          [(ngModel)]="allSelected"
          (onChange)="checkAll()"
        ></p-checkbox>
      </th>

      <th
        *ngFor="let column of columns; let i = index"
        [pSortableColumn]="fields[i]"
      >
        {{ column }}
        <p-sortIcon [field]="fields[i]"></p-sortIcon>
      </th>

      <th *ngIf="actions"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <td>
        <p-checkbox 
          [binary]="true"
          [(ngModel)]="row.checked"
          (onChange)="selectRow(row)"
        ></p-checkbox>
      </td>

      <td *ngFor="let item of fields; let i = index">
        {{ row[item] | dynamic: pipes[i] }}
      </td>

      <td 
        *ngIf="actions"
        class="action-buttons"
        ><a *ngFor="let action of actions">
          <i 
            class="pi {{ action.icon }}" 
            (click)="action.action(row)"
            [pTooltip]="action.label" 
            tooltipPosition="top"
          ></i>
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="footer-buttons py-3">
  <button
    *ngIf="totalRecords && totalRecords > value.length"
    pButton
    type="button" 
    class="line-button"
    (click)="loadMore()"
    ><i class="pi pi-replay">
    </i>
    Carregar mais
  </button>
  <span *ngIf="value.length == totalRecords">
    Não há mais itens para carregar na listagem!!!
  </span>
</div>