<app-navbar>
    <div class="invoice-navbar">
        <div class="invoice-navbar__title">
            <a (click)="cancel()"><i class="pi pi-angle-left"></i></a>
            <span>Nova fatura</span>
        </div>

        <div class="invoice-navbar__submit">
            <button
                type="button"
                class="primary-form-button"
                (click)="submitForm()"
                [disabled]="formSubmited"
                >
                <i class="pi pi-plus pr-2">
                </i>
                {{ invoiceId ? 'Atualizar' : 'Criar'}} Fatura
            </button>
        </div>
    </div>
</app-navbar>

<div class="content">
    <div class="invoices client-data">
        <div class="invoices--header header-title">
            <p>Dados do cliente</p>
        </div>
        <form class="invoices--form my-6 grid">
            <div class="field col-12 md:col-6">
                <label for="client">Cliente <span>*</span></label>
                <p-dropdown
                    [(ngModel)]="selectedClient"
                    placeholder="Busque pelo nome, CPF ou CNPJ"
                    [options]="clients"
                    optionLabel="name"
                    name="client"
                    filterBy="name"
                    [filter]="true"
                    (onChange)="selectClient(clientDropdown.value)"
                    #clientDropdown
                ></p-dropdown>
            </div>
            <div class="field col-12 md:col-6" [formGroup]="clientDataForm">
                <label for="corporateReason">Razão social</label>
                <input
                    type="text"
                    id="corporateReason"
                    formControlName="name"
                    pInputText
                    placeholder="Razão social do cliente"
                />
            </div>
            <div class="field col-12 md:col-4" [formGroup]="clientDataForm">
                <label for="email">E-mail</label>
                <input
                    type="email"
                    id="email"
                    formControlName="email"
                    pInputText
                    placeholder="E-mail para envio"
                />
            </div>
            <div class="field col-12 md:col-4" [formGroup]="clientDataForm">
                <label for="tel">Contato</label>
                <input
                    type="text"
                    id="tel"
                    formControlName="tel"
                    pInputText
                    placeholder="Telefone ou celular"
                    mask="(00) 0 0000-0000||(00) 0000-0000"
                />
            </div>
            <div class="field col-12 md:col-4" [formGroup]="clientDataForm">
                <label for="cep">CEP</label>
                <input
                    type="text"
                    id="cep"
                    formControlName="cep"
                    pInputText
                    placeholder="Digite o CEP de envio"
                    mask="00000-000"
                />
            </div>
            <div class="field col-8 md:col-6" [formGroup]="clientDataForm">
                <label for="address">Logradouro</label>
                <input
                    type="text"
                    id="address"
                    formControlName="address"
                    pInputText
                    placeholder="Rua, avenida..."
                />
            </div>
            <div class="field col-4 md:col-2" [formGroup]="clientDataForm">
                <label for="addressNumber">Número</label>
                <p-inputNumber
                    placeholder="Número"
                    id="addressNumber"
                    formControlName="addressNumber"
                    [useGrouping]="false"
                >
                </p-inputNumber>
            </div>
            <div class="field col-12 md:col-4" [formGroup]="clientDataForm">
                <label for="addressComplement">Complemento</label>
                <input
                    type="text"
                    id="addressComplement"
                    formControlName="addressComplement"
                    pInputText
                    placeholder="Apartamento, bloco..."
                />
            </div>
            <div class="field col-12 md:col-4" [formGroup]="clientDataForm">
                <label for="district">Bairro</label>
                <input
                    type="text"
                    id="district"
                    formControlName="district"
                    pInputText
                    placeholder="Bairro"
                />
            </div>
            <div class="field col-12 md:col-4" [formGroup]="clientDataForm">
                <label for="state">Estado</label>
                <p-dropdown
                    [options]="ufSelectItems"
                    optionLabel="name"
                    optionValue="uf"
                    placeholder="Estado"
                    formControlName="uf"
                    filterBy="name"
                    [filter]="true"
                >
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-4" [formGroup]="clientDataForm">
                <label for="city">Cidade</label>
                <input
                    type="text"
                    id="city"
                    formControlName="city"
                    pInputText
                    placeholder="Cidade"
                />
            </div>
        </form>
    </div>

    <div class="invoices invoice-product">
        <div class="invoices--header">
            <p>Produto da cobrança</p>
        </div>
        <form class="invoices--form my-6 grid">
            <div class="field col-5 md:col-8">
                <label for="client">Produtos <span>*</span></label>
                <p-dropdown
                    [options]="productsServices"
                    optionLabel="name"
                    name="client"
                    filterBy="label"
                    [filter]="true"
                    placeholder="Busque o produto"
                    (onChange)="productQuantity.value = ''"
                    #productDropdown
                ></p-dropdown>
            </div>
            <div class="field col-4 md:col-2">
                <label for="quantity">Quantidade <span>*</span></label>
                <input 
                    type="text"
                    pInputText
                    id="quantity"
                    placeholder="Quantidade"
                    (change)="calculateProductValue(
                        productDropdown, 
                        productQuantity,
                        productValue
                    )"
                    mask="00"
                    #productQuantity
                />
            </div>
            <div class="field col-3 md:col-2">
                <label for="price">Valor final</label>
                <p-inputNumber 
                    mode="currency" 
                    currency="BRL"
                    id="price"
                    placeholder="R$ 0,00"
                    [disabled]="true"
                    #productValue
                ></p-inputNumber>
            </div>
            <div class="field col-12 invoice-product__new-button mt-4">
                <button
                    pButton
                    type="button" 
                    class="line-button"
                    [disabled]="disabledProductButton"
                    (click)="addProduct(productDropdown, productQuantity, productValue)"
                    ><i class="pi pi-plus">
                    </i>Adicionar Produto
                </button>
            </div>
            <div class="field col-12" *ngIf="selectedProducts.length">
                <div class="products-list">
                    <table class="item-list-table">
                        <thead>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <th>Ações</th>
                        </thead>
                
                        <tbody>
                        <tr *ngFor="let product of selectedProducts; let i = index">
                            <td>
                                {{ product.name }}
                            </td>
    
                            <td>
                                {{ product.quantity }}
                            </td>
    
                            <td>
                                {{ product.price | currency:'BRL' }}
                            </td>
                
                            <td>
                                <button
                                    pTooltip="Remover"
                                    tooltipPosition="left"
                                    (click)="removeProduct(i)"
                                >
                                    <i class="pi pi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Valor total</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <span>{{ invoiceAmount | currency:'BRL' }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

    <div class="invoices invoice-info">
        <div class="invoices--header">
            <p>Informações da cobrança</p>
        </div>
        <form class="invoices--form my-6 grid" [formGroup]="form">
            <div class="field col-12 md:col-3" formGroupName="billing">
                <label for="referringDate">Data referente <span>*</span></label>
                <p-calendar 
                    id="referringDate"
                    formControlName="referringDate"
                    dateFormat="dd/mm/yy"
                    placeholder="Escolha a data"
                ></p-calendar>
            </div>
            <div class="field col-12 md:col-3" formGroupName="billing">
                <label for="dueDate">Data de vencimento <span>*</span></label>
                <p-calendar 
                    id="dueDate"
                    formControlName="dueDate"
                    dateFormat="dd/mm/yy"
                    placeholder="Escolha a data"
                    (onChange)="resetFormFields(
                        ['discount.dueDate'],
                        bankSlipForm
                    )"  
                    [minDate]="actualDate"
                ></p-calendar>
            </div>
            <div class="field col-12 md:col-6" formGroupName="billing">
                <label for="reference">Referência</label>
                <input
                    type="text"
                    id="reference"
                    formControlName="reference"
                    pInputText
                    placeholder="Descrição"
                />
            </div>
        </form>
    </div>

    <div class="invoices payment-method">
        <div class="invoices--header">
            <p>Métodos de pagamento</p>
        </div>
        <div class="payment-method__buttons my-6 pb-6">
            <a
                *ngFor="let formMethods of selectedMethods; let y = index"
                (click)="showPaymentMethodForm(formMethods.value)"
                ><img [src]="formMethods.src" [alt]="formMethods.name">
                <span>{{ formMethods.name }}</span>
            </a>

            <div class="payment-method--add-button">
                <a *ngIf="paymentMethods.length" (click)="op.toggle($event)">
                    <i class="pi pi-plus"></i>
                </a>
                <p-overlayPanel #op>
                    <ng-template pTemplate>
                        <a
                            *ngFor="let methods of paymentMethods; let j = index"
                            class="payment-methods"
                            (click)="addPaymentMethod(j, op, methods.value)"
                            ><img [src]="methods.src" [alt]="methods.name">
                            <span>{{ methods.name }}</span>
                        </a>
                    </ng-template>
                </p-overlayPanel>
            </div>
        </div>

        <form
            *ngIf="displayForm == 'bankSlip'"
            class="invoices--form payment-methods--form bankSlip-form grid"
            [formGroup]="bankSlipForm"
            ><div class="form-header col-12">
                <span>Configurações do boleto</span>
                <div class="form-header__buttons">
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="resetForm(bankSlipForm)"
                    >
                        Limpar
                    </button>
                    <span>|</span>
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="removePaymentMethod('bankSlip')"
                    >
                        Remover pagamento
                    </button>
                </div>
            </div>

            <div class="field col-12">
                <label for="description">Descrição</label>
                <input
                    type="text"
                    id="description"
                    formControlName="description"
                    pInputText
                    placeholder="Descrição"
                />
            </div>

            <div class="discount col-12" formGroupName="discount">
                <div class="header-title py-6">
                    <p>Descontos</p>
                    <p-inputSwitch
                        formControlName="enabled"
                        (onChange)="toggleSwitchFields(
                            ['discount.mode','discount.amount','discount.dueDate'],
                            bankSlipForm.get('discount.enabled')?.value,
                            bankSlipForm
                            )"
                    ></p-inputSwitch>
                </div>
                <div class="discount--fields grid">
                    <div class="field col-12 md:col-4">
                        <label for="mode">Tipo de valor</label>
                        <p-dropdown
                            [options]="discountTypeSelectItems"
                            id="mode"
                            optionLabel="name"
                            optionValue="value"
                            formControlName="mode"
                            placeholder="Selecione o tipo"
                            (onChange)="bankSlipForm.get('discount.amount')?.reset()"
                        ></p-dropdown>
                    </div>
                    <div *ngIf="bankSlipForm.get('discount.mode')?.value == 'fixed'"
                        class="field col-12 md:col-4">
                        <label for="amount">Valor do desconto</label>
                        <p-inputNumber 
                            mode="currency" 
                            currency="BRL"
                            id="amount"
                            placeholder="R$ 0,00"
                            formControlName="amount"
                        ></p-inputNumber>
                    </div>
                    <div *ngIf="bankSlipForm.get('discount.mode')?.value == 'percent'"
                        class="field col-12 md:col-4">
                        <label for="amount">Valor do desconto</label>
                        <p-inputNumber
                            suffix="%"
                            id="amount"
                            [max]="100"
                            [min]="1"
                            placeholder="0%"
                            [maxFractionDigits]="2"
                            formControlName="amount"
                        ></p-inputNumber>
                    </div>
                    <div class="field col-6 md:col-4">
                        <label for="limitDueDate">Data limite do desconto</label>
                        <p-calendar 
                            id="limitDueDate"
                            dateFormat="dd/mm/yy"
                            placeholder="Escolha a data"
                            formControlName="dueDate"
                            [minDate]="actualDate"
                            [maxDate]="maxDiscountDate"
                        ></p-calendar>
                    </div>
                </div>
            </div>

            <div class="fees col-12" formGroupName="fees">
                <div class="header-title py-6">
                    <p>Juros e multas</p>
                    <p-inputSwitch
                        formControlName="enabled"
                        (onChange)="toggleSwitchFields(
                            ['fees.interestRate','fees.penaltyRate'],
                            bankSlipForm.get('fees.enabled')?.value,
                            bankSlipForm
                            )"
                    ></p-inputSwitch>
                </div>
                <div class="fees--fields grid">
                    <div class="field col-12 md:col-4">
                        <label for="penaltyRate">Percentual de multa</label>
                            <p-inputNumber
                                suffix="%"
                                id="penaltyRate"
                                [max]="100"
                                [min]="1"
                                placeholder="0%"
                                [maxFractionDigits]="2"
                                formControlName="penaltyRate"
                            ></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="interestRate">Percentual juros (mês)</label>
                        <p-inputNumber
                            suffix="%"
                            id="interestRate"
                            [max]="100"
                            [min]="1"
                            placeholder="0%"                            
                            [maxFractionDigits]="2"
                            formControlName="interestRate"
                        ></p-inputNumber>
                    </div>
                </div>
            </div>

            <div class="field col-11">
                <label for="messages">Mensagens</label>
                <input
                    type="text"
                    id="messages"
                    pInputText
                    placeholder="Escreva uma mensagem no boleto"
                    #bankSlipInputMessages
                />
            </div>
            <div class="field col-1 message-button mt-6">
                <a (click)="addMessage(bankSlipInputMessages, 'bankSlip')"><i class="pi pi-plus"></i></a>
            </div>

            <div class="field col-12 py-6" *ngIf="bankSlipMessages.length">
                <table class="message-list-table">
                    <thead>
                    <th>Mensagem</th>
                    <th style="width: 10%"></th>
                    </thead>
            
                    <tbody>
                    <tr *ngFor="let message of bankSlipMessages; let i = index">
                        <td>
                        {{ message }}
                        </td>
            
                        <td>
                        <button
                            pTooltip="Remover"
                            tooltipPosition="left"
                            (click)="removeMessage(i,'bankSlip')"
                        >
                            <i class="pi pi-trash"></i>
                        </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

        <form
            *ngIf="displayForm == 'creditCard'"
            class="invoices--form payment-methods--form creditCard-form grid"
            [formGroup]="creditCardForm"
            ><div class="form-header col-12 pb-6">
                <span>Configurações do cartão de crédito</span>
                <div class="form-header__buttons">
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="resetForm(creditCardForm)"
                    >
                        Limpar
                    </button>
                    <span>|</span>
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="removePaymentMethod('creditCard')"
                    >
                        Remover pagamento
                    </button>
                </div>
            </div>
            <div class="field col-12 md:col-4">
                <label for="invoiceDescription">Descrição da fatura</label>
                <input
                    type="text"
                    id="invoiceDescription"
                    pInputText
                    placeholder="Escreva uma mensagem na fatura"
                    formControlName="description"
                />
            </div>
            <div class="field col-12 md:col-4">
                <label for="maxInstallmentsQuantity">Parcelamento máximo</label>
                <p-dropdown
                    placeholder="Selecione o tipo"
                    [options]="installmentsSelectItems"
                    id="maxInstallmentsQuantity"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="maxInstallmentsQuantity"
                ></p-dropdown>
            </div>

            <div class="fees col-12" formGroupName="fees">
                <div class="header-title py-6">
                    <p>Juros e multas</p>
                    <p-inputSwitch
                        formControlName="enabled"
                        (onChange)="toggleSwitchFields(
                            ['fees.interestRate'],
                            creditCardForm.get('fees.enabled')?.value,
                            creditCardForm
                            )"
                    ></p-inputSwitch>
                </div>
                <div class="fees--fields grid ">
                    <div class="field col-12 md:col-4">
                        <label for="interestRate">Percentual juros (mês)</label>
                        <p-inputNumber
                            suffix="%"
                            id="interestRate"
                            [max]="100"
                            [min]="1"
                            placeholder="0%"
                            [maxFractionDigits]="2"
                            formControlName="interestRate"
                        ></p-inputNumber>
                    </div>
                </div>
            </div>
        </form>

        <form
            *ngIf="displayForm == 'debitCard'"
            class="invoices--form payment-methods--form debitCard-form grid"
            [formGroup]="debitCardForm"
            ><div class="form-header col-12 pb-6">
                <span>Configurações do cartão de débito</span>
                <div class="form-header__buttons">
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="resetForm(debitCardForm)"
                    >
                        Limpar
                    </button>
                    <span>|</span>
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="removePaymentMethod('debitCard')"
                    >
                        Remover pagamento
                    </button>
                </div>
            </div>
            <div class="field col-12">
                <label for="description">Descrição na fatura</label>
                <input
                    type="text"
                    id="description"
                    pInputText
                    placeholder="Escreva uma mensagem na fatura"
                    formControlName="description"
                />
            </div>
        </form>

        <form
            *ngIf="displayForm == 'pix'"
            class="invoices--form payment-methods--form pix-form grid"
            [formGroup]="pixForm"
            ><div class="form-header col-12 pb-6">
                <span>Configurações do pix</span>
                <div class="form-header__buttons">
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="resetForm(pixForm)"
                    >
                        Limpar
                    </button>
                    <span>|</span>
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="removePaymentMethod('pix')"
                    >
                        Remover pagamento
                    </button>
                </div>
            </div>

            <div class="field col-6 md:col-3">
                <label for="dueDate">Data de vencimento</label>
                <p-calendar 
                    id="dueDate"
                    dateFormat="dd/mm/yy"
                    placeholder="Escolha a data"
                    formControlName="dueDate"
                    [minDate]="actualDate"
                    [defaultDate]="form.get('billing.dueDate')?.value"
                ></p-calendar>
            </div>
            <div class="field col-6 md:col-9">
                <label for="description">Descrição da fatura</label>
                <input
                    type="text"
                    id="description"
                    pInputText
                    placeholder="Escreva uma mensagem na fatura"
                    formControlName="description"
                />
            </div>
            <div class="field col-12">
                <label>Código de pagamento</label>
                <div class="qrCode pt-2">
                    <img src="https://acesso.gov.br/faq/_images/imagem_qrcode_exemplo.jpg" alt="QR">
                    <span>a98h - 5545 - 8br - 98556oi987hg5</span>
                </div>
            </div>
        </form>

        <ng-container *ngIf="displayForm == 'carnet'">
            <form
            class="invoices--form payment-methods--form carnet-form grid"
            [formGroup]="carnetForm"
            ><div class="form-header col-12">
                <span>Configurações do carnê</span>
                <div class="form-header__buttons">
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="resetForm(carnetForm)"
                    >
                        Limpar
                    </button>
                    <span>|</span>
                    <button 
                        type="button" 
                        class="line-button"
                        (click)="removePaymentMethod('carnet')"
                    >
                        Remover pagamento
                    </button>
                </div>
            </div>

            <div class="field col-12 pt-6">
                <label for="description">Descrição</label>
                <input
                    type="text"
                    id="description"
                    formControlName="description"
                    pInputText
                    placeholder="Descrição"
                />
            </div>

            <div class="field col-12 md:col-6 py-6">
                <label>Parcelas</label>
                <div class="field--button">
                    <input 
                        type="text"
                        mask="00"
                        pInputText
                        id="installments"
                        placeholder="Selecione parcelas"
                        formControlName="installments"
                    />
                    <button
                        pButton
                        type="button"
                        (click)="generateBankSlips(
                            carnetForm.get('installments')?.value,
                            carnetForm.get('discount.limitDay')?.value,
                            carnetForm.get('discount.amount')?.value
                        )"
                        >
                        Gerar carnê
                    </button>
                </div>
            </div>

            <div class="form--discount-fees col-12 grid">
                <div class="discount col-6" formGroupName="discount">
                    <div class="header-title">
                        <p>Descontos</p>
                        <p-inputSwitch
                            formControlName="enabled"
                            (onChange)="toggleSwitchFields(
                                ['discount.limitDay', 'discount.amount'],
                                carnetForm.get('discount.enabled')?.value,
                                carnetForm
                                )"
                            class="mr-2"
                        ></p-inputSwitch>
                    </div>
                    <div class="discount--fields grid pt-6">
                        <div class="field col-12 md:col-6">
                            <label for="limitDay">Dia limite do desconto</label>
                            <p-inputNumber
                                placeholder="Dia do vencimento"
                                id="limitDay"
                                [min]="actualDate.getDate()"
                                [max]="31"
                                [useGrouping]="false"
                                formControlName="limitDay"
                            ></p-inputNumber>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="amount">Valor do desconto</label>
                            <p-inputNumber 
                                mode="currency" 
                                currency="BRL"
                                id="amount"
                                placeholder="R$ 0,00"
                                formControlName="amount"
                            ></p-inputNumber>
                        </div>
                    </div>
                </div>
                <div class="fees col-6" formGroupName="fees">
                    <div class="header-title">
                        <p>Juros e multas</p>
                        <p-inputSwitch
                            formControlName="enabled"
                            (onChange)="toggleSwitchFields(
                                ['fees.penaltyRate', 'fees.interestRate'],
                                carnetForm.get('fees.enabled')?.value,
                                carnetForm
                                )"
                            class="mr-2"
                        ></p-inputSwitch>
                    </div>
                    <div class="fees--fields grid pt-6">
                        <div class="field col-12 md:col-6">
                            <label for="carnetPenaltyRate">Percentual de multa</label>
                            <p-inputNumber
                                suffix="%"
                                id="carnetPenaltyRate"
                                [max]="100"
                                [min]="1"
                                placeholder="0%"
                                [maxFractionDigits]="2"
                                formControlName="penaltyRate"
                            ></p-inputNumber>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="carnetInterestRate">Percentual juros (mês)</label>
                            <p-inputNumber
                                suffix="%"
                                id="carnetInterestRate"
                                [max]="100"
                                [min]="1"
                                placeholder="0%"
                                [maxFractionDigits]="2"
                                formControlName="interestRate"
                            ></p-inputNumber>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field col-11">
                <label for="messages">Mensagens</label>
                <input
                    type="messages"
                    id="messages"
                    pInputText
                    placeholder="Escreva uma mensagem no boleto"
                    #carnetInputMessages
                />
            </div>
            <div class="field col-1 message-button mt-6">
                <a (click)="addMessage(carnetInputMessages, 'carnet')"><i class="pi pi-plus"></i></a>
            </div>

            <div class="field col-12 py-6" *ngIf="carnetMessages.length">
                <table class="message-list-table">
                    <thead>
                    <th>Mensagem</th>
                    <th style="width: 10%"></th>
                    </thead>
            
                    <tbody>
                    <tr *ngFor="let message of carnetMessages; let i = index">
                        <td>
                        {{ message }}
                        </td>
            
                        <td>
                        <button
                            pTooltip="Remover"
                            tooltipPosition="left"
                            (click)="removeMessage(i, 'carnet')"
                        >
                            <i class="pi pi-trash"></i>
                        </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

        <div *ngIf="carnetBankSlips.length"
            class="form--installments col-12"
            >
            <div class="header-title">
                <p>Parcelas</p>
            </div>
            <div class="installments mt-6">
                <p-accordion [multiple]="true">
                    <p-accordionTab *ngFor="let bankSlip of carnetBankSlips;let w = index"
                        header="Parcela {{ bankSlip.installmentNumber }}">
                        <div class="field col-6 md:col-3">
                            <label for="installmentValue">Valor da parcela</label>
                            <p-inputNumber 
                                mode="currency" 
                                currency="BRL"
                                id="installmentValue"
                                placeholder="R$ 0,00"
                                [(ngModel)]="bankSlip.amount"
                            ></p-inputNumber>
                        </div>
                        <div class="field col-6 md:col-3">
                            <label for="dueDate">Data de vencimento</label>
                            <p-calendar 
                                id="dueDate"
                                dateFormat="dd/mm/yy"
                                placeholder="Escolha a data"
                                [(ngModel)]="bankSlip.dueDate"
                            ></p-calendar>
                        </div>
                        <div class="field col-6 md:col-3">
                            <label for="discountValue">Valor do desconto</label>
                            <p-inputNumber 
                                mode="currency" 
                                currency="BRL"
                                id="discountValue"
                                placeholder="R$ "
                                [(ngModel)]="bankSlip.discount.amount"
                            ></p-inputNumber>
                        </div>
                        <div class="field col-6 md:col-3">
                            <label for="limitDueDate">Data limite do desconto</label>
                            <p-calendar 
                                id="limitDueDate"
                                dateFormat="dd/mm/yy"
                                placeholder="Escolha a data"
                                [(ngModel)]="emptyDate[w]"
                            ></p-calendar>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
        </ng-container>
    </div>
</div>