<app-navbar>
    <div class="dashboard-navbar">
      <span class="dashboard-navbar--title">
        Dashboard
      </span>
  
      <div class="dashboard-navbar--buttons">
        <a><i class="pi pi-sliders-h"></i></a>
        
        <a><i class="pi pi-bell"></i></a>
        </div>
    </div>
</app-navbar>
  
<div class="content">
    <div *ngIf="dashboardData" class="grid card">
        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Total Pago</p>
        
                <span>{{ dashboardData.total | currency:'BRL' }}</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>A Receber</p>
        
                <span>{{ dashboardData.toReceive | currency:'BRL' }}</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Recebido</p>
        
                <span>{{ dashboardData.received | currency:'BRL' }}</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Em Aberto</p>
        
                <span>{{ dashboardData.open | currency:'BRL' }}</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Atrasado</p>
        
                <span>{{ dashboardData.delayed | currency:'BRL' }}</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Cancelados</p>
        
                <span>{{ dashboardData.canceled }}</span>
            </div>
        </div>
    </div>
    <div class="grid graphics pt-6">
        <div *ngIf="dashboardData" class="col-6 graphics_card">
            <div class="graphics_card--panel">
                <p>Assinaturas</p>
                <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
            </div>
        </div>
        <div *ngIf="dashboardData" class="col-6 graphics_card">
            <div class="graphics_card--panel graphics_card--doughnut">
                <p>Pagamentos mais utilizados</p>
                <div class="graphics_card--most-used-payments">
                    <p></p>
                    <p-chart type="doughnut" [data]="data" [options]="chartOptions"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>