<app-navbar>
    <div class="dashboard-navbar">
      <span class="dashboard-navbar--title">
        Dashboard
      </span>
  
      <div class="dashboard-navbar--buttons">
        <a><i class="pi pi-sliders-h"></i></a>
        
        <a><i class="pi pi-bell"></i></a>
        </div>
    </div>
</app-navbar>
  
<div class="content">
    <div class="grid card">
        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Total Pago</p>
        
                <span>R$ 6.000</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>A Receber</p>
        
                <span>R$ 2.350</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Recebido</p>
        
                <span>R$ 1.000</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Em Aberto</p>
        
                <span>R$ 8.500</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Atrasado</p>
        
                <span>R$ 5.000</span>
            </div>
        </div>

        <div class="col-2 card_info">
            <div class="card_info--item">
                <p>Cancelados</p>
        
                <span>0</span>
            </div>
        </div>
    </div>
    <div class="grid graphics pt-6">
        <div class="col-6 graphics_card">
            <div class="graphics_card--panel">
                <p>Assinaturas</p>
                <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
            </div>
        </div>
        <div class="col-3 graphics_card">
            <div class="graphics_card--panel graphics_card--doughnut">
                <p>Pagamentos mais utilizados</p>
                <div class="graphics_card--most-used-payments">
                    <p></p>
                    <p-chart type="doughnut" [data]="data" [options]="chartOptions"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-3 graphics_card">
            <div class="graphics_card--panel">
                <p>Produtos mais vendidos</p>

                <div class="graphics_card-product--items">
                    <p>Caixa surpresa Skin Care</p>
                    <div class="graphics_card-products--info">
                        <span>Quantidade: <strong>335</strong></span>
                        <span>Valor: <strong>R$ 100,00</strong></span>
                    </div>
                </div>

                <div class="graphics_card-product--items">
                    <p>Caixa surpresa Skin Care</p>
                    <div class="graphics_card-products--info">
                        <span>Quantidade: <strong>224</strong></span>
                        <span>Valor: <strong>R$ 155,00</strong></span>
                    </div>
                </div>

                <div class="graphics_card-product--items">
                    <p>Caixa surpresa Skin Care</p>
                    <div class="graphics_card-products--info">
                        <span>Quantidade: <strong>199</strong></span>
                        <span>Valor: <strong>R$ 300,00</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>