<!-- <ng-container>
  <router-outlet></router-outlet>
</ng-container>

<ng-template #loggedContainer>

    <div class="grid">
      <div class="aside">
        <app-aside></app-aside>
      </div>
  
      <div class="header">
        <app-header></app-header>
      </div>
  
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
</ng-template> -->

<div class="panel">
  <div class="aside">
    <app-aside></app-aside>
  </div>

  <div class="header">
    <app-header></app-header>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>