<div class="clients">
    <div class="clients--header">
        <p>Dados do cliente</p>
    </div>
    <form class="clients--form my-6 grid"  [formGroup]="clientsForm">
        <div class="field col-12 md:col-6">
            <label for="clientName">Nome do cliente</label>
            <input 
                type="text"
                id="clientName"
                formControlName="name"
                pInputText
                placeholder="Nome completo do cliente"
            />
        </div>
        <div class="field col-12 md:col-6">
            <label for="cpf-cnpj">CPF/CNPJ</label>
            <input 
                type="text"
                id="cpf-cnpj"
                formControlName="document"
                pInputText
                placeholder="Documento do cliente ou empresa"
                mask="000.000.000-00|| 00.000.000/0000-00"
            />
        </div>

        <div class="field col-12 md:col-4">
            <label for="email">E-mail</label>
            <input 
                type="email"
                id="email"
                formControlName="email"
                pInputText
                placeholder="Email para envio"
            />
        </div>
        <div class="field col-12 md:col-4">
            <label for="contact">Contato</label>
            <input 
                type="text"
                id="contact"
                formControlName="tel"
                pInputText
                placeholder="Telefone ou celular"
                mask="(00) 0 0000-0000||(00) 0000-0000"
            />
        </div>
        <div class="field col-12 md:col-4">
            <label for="cep">CEP</label>
            <input 
                type="text"
                id="cep"
                formControlName="cep"
                pInputText
                placeholder="Digite o CEP de envio"
                mask="00000-000"
            />
        </div>

        <div class="field col-8 md:col-6">
            <label for="address">Logradouro</label>
            <input 
                type="text"
                id="address"
                formControlName="address"
                pInputText
                placeholder="Rua, avenida..."
            />
        </div>
        <div class="field col-4 md:col-2">
            <label for="addressNumber">Número</label>
            <p-inputNumber
                placeholder="Número"
                id="addressNumber"
                formControlName="addressNumber"
                [useGrouping]="false"
            >                
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-4">
            <label for="addressComplement">Complemento</label>
            <input 
                type="text"
                id="addressComplement"
                formControlName="addressComplement"
                pInputText
                placeholder="Apartamento, bloco..."
            />
        </div>

        <div class="field col-12 md:col-4">
            <label for="district">Bairro</label>
            <input 
                type="text"
                id="district"
                formControlName="district"
                pInputText
                placeholder="Bairro"
            />
        </div>
        <div class="field col-12 md:col-4">
            <label for="state">Estado</label>
            <p-dropdown 
                [options]="ufSelectItems"
                optionLabel="name"
                optionValue="uf"
                formControlName="uf"
                placeholder="Estado"
                filterBy="name"
                [filter]="true"
            >
            </p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
            <label for="city">Cidade</label>
            <input 
                type="text"
                id="city"
                formControlName="city"
                pInputText
                placeholder="Cidade"
            />
        </div>
    </form>
    <div class="clients--footer">
        <button  
            type="button" 
            class="secondary-form-button"
        >
            Limpar
        </button>
        <button  
            type="button" 
            class="primary-form-button ml-5"
        >
            Salvar
        </button>
    </div>
</div>