.content {
  padding: 4rem 6rem;
}

.field {
  display: flex;
  flex-direction: column;
  label {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.primary-form-button {
  width: auto;
  height: 48px;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 10px 20px;
  background-color: var(--black);
  border: solid 1px var(--black);
  color: #fff;
  cursor: pointer;
}

.primary-form-button:hover {
  background-color: darken($color: #1b1b1b, $amount: 5) !important;
  border-color: darken($color: #1b1b1b, $amount: 5) !important;
}

.secondary-form-button {
  width: auto;
  height: 48px;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 10px 20px;
  background-color: #e7e7e7;
  border: solid 1px #e7e7e7;
  color: #000;
  cursor: pointer;
}

.secondary-form-button:hover {
  border-color: #e7e7e7 !important;
  background-color: darken($color: #e7e7e7, $amount: 5) !important;
}

.button-icon {
  background: none;
  border: none;
  span {
    font-size: 1.6rem;
    color: var(--black);
  }
}

.button-icon:hover {
  background: none !important;
  border: none  !important;
  span {
    color: darken($color: #1b1b1b, $amount: 5);
  }
}

.line-button {
  width: auto;
  height: auto;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 10px 20px;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.line-button:hover {
  width: auto;
  height: auto;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 10px 20px;
  background-color: var(--line) !important;
  border: none !important;
  color: #000 !important;
  cursor: pointer;
  transition: .3s;
  text-align: center;
}

label {
  span {
    color: #ff0000;
    font-size: 1.4rem;
  }  
}

.item-list-table {
  width: 100%;
  padding-bottom: 1rem;
  border-collapse: collapse;
  thead th {
    padding: 1rem 0;
    font-size: 1.4rem;
    text-align: start;
  }
  tbody tr:last-of-type {
    border-top: solid 2px #d2d2d2;
  }
  tbody tr {
    td {
      padding: 1.5rem 0;
      font-size: 1.2rem;
      button {
        background: none;
        border: none;
        cursor: pointer;
        i {
          font-size: 1.4rem;
        }
      }
      button:hover  {
        i {
          color: red;
        }
      }
      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}

.message-list-table {
  width: 100%;
  padding-bottom: 1rem;
  thead th {
    padding: 1rem 0;
    font-size: 1.4rem;
    text-align: start;
  }
  tbody tr {
    td {
      padding: 1.5rem 0;
      font-size: 1.2rem;
      button {
        background: none;
        border: none;
        cursor: pointer;
        i {
          font-size: 1.4rem;
        }
      }
      button:hover  {
        i {
          color: red;
        }
      }
      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}
