::ng-deep {
    .p-inputtext {
        border-radius: 3px;
        border: solid 1px #e2e2e2;
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        padding: 10px 10px;
    }
    .p-inputtext:focus {
        border: solid 1px #e2e2e2 !important; 
    }
    .p-inputtext:hover {
        border: solid 1px #e2e2e2 !important;
    }
}

::ng-deep {
    .p-button {
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 3px;
        border: solid 1px var(--primary);
        background-color: var(--primary);
        .p-button-label {
            font-size: 1.2rem;
            font-weight: 200;
        }
    }
    .p-button:hover {
        border: solid 1px var(--primary) !important;
        background-color: darken($color: #02b69c, $amount: 5) !important; //color: var(--primary)
    }
}