.p-inputnumber {
    width: 100%;
    height: 48px;
  }
  
  .p-inputtext {
    width: 100%;
    height: 48px;
    padding: 10px 15px;
    border: solid 1px #d2d2d2;
    font-size: 1.4rem;
    border-radius: 3px;
  }
  
  .p-inputtext:focus {
    border: solid 1px var(--black) !important;
  }
  
  .p-inputtext:hover {
    border: solid 1px #d2d2d2 !important;
  }
  
  .p-inputtext::placeholder {
    color: #a5a5a5;
  }
  
  .p-dropdown {
    width: 100%;
    height: 48px;
    padding: 10px 15px;
    border: solid 1px #d2d2d2;
    font-size: 1.4rem;
    border-radius: 3px;
  }
  
  .p-dropdown:hover {
    border: solid 1px #d2d2d2 !important;
  }
  
  .p-focus {
    box-shadow: none !important;
    border-color: var(--black) !important;
  }
  
  .p-dropdown .p-dropdown-label:hover {
    border: none !important;
  }
  
  .p-dropdown .p-dropdown-label {
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
  }
  
  .p-dropdown .p-dropdown-items-wrapper {
    .p-dropdown-items {
      .p-dropdown-item {
        padding: 1.5rem 1.25rem;
      }
      p-dropdownitem {
        li {
          span {
            font-size: 1.4rem;
          }
        }
        .p-highlight {
          color: var(--black);
          background-color: #e9ecef;
        }
      }
    }
  }
  
  .p-button {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: solid 1px var(--primary);
    background-color: var(--primary);
    .p-button-label {
      font-size: 1.4rem;
      font-weight: 200;
    }
  }
  
  .p-button:hover {
    border: solid 1px var(--primary) !important;
    background-color: darken($color: #02b69c, $amount: 5) !important;
  }
  
  .p-dropdown-filter {
    height: 38px;
  }
  
  .p-dropdown-filter:focus {
    border-color: var(--black);
  }
  
  .p-checkbox .p-checkbox-box {
    background: none;
    border-radius: 0;
    border: solid 3px gray;
  }
  .p-checkbox .p-checkbox-box:hover {
    border-color: var(--black) !important;
  }
  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--black);
    background: var(--black);
    color: #fff;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: var(--black);
  }