<app-navbar>
    <div class="subscriptions-navbar">
      <a (click)="cancel()"><i class="pi pi-angle-left"></i></a>
      <span>Novo assinante</span>
    </div>
</app-navbar>

<div class="content">
    <div class="subscriptions">
        <div class="subscriptions--header">
          <p>Dados da assinatura</p>
        </div>

        <form class="subscriptions--form my-6 grid" [formGroup]="subscriptionsForm">
            <div class="field col-12 md:col-6" formGroupName="user">
                <label for="client">Cliente</label>
                <p-dropdown        
                    placeholder="Nome"
                    [options]="clientsList"
                    optionLabel="name"
                    optionValue="id"
                    name="client"
                    formControlName="id"
                ></p-dropdown>
            </div>

            <div class="field col-12 md:col-6" formGroupName="plan">
                <label for="plans">Plano</label>
                <p-dropdown        
                    placeholder="Escolha o plano"
                    [options]="plansList"
                    optionLabel="name"
                    optionValue="id"
                    name="plans"
                    formControlName="id"
                ></p-dropdown>
            </div>

            <div class="field col-11">
                <label for="details">Observações</label>
                <input
                  type="text"
                  pInputText
                  id="details"
                  placeholder="Alguma observação?"
                  formControlName="details"
                  maxlength="150"
                  (input)="updateDetailsLength()"
                />
            </div>

            <div class="field col-1 text-length">
                <label>'' </label>
                <span>
                    {{ detailsLength }}/150
                </span>
            </div>
        </form>

        <div class="subscriptions--footer">
          <button 
            type="button" 
            class="secondary-form-button"
            (click)="clearForm()"
            >
            Limpar
          </button>
          <button 
            type="button" 
            class="primary-form-button ml-5"
            (click)="submitForm()"
            >
            Criar assinante
          </button>
        </div>
    </div>
</div>