<app-navbar>
    <div class="subscriptions-view-navbar">
      <a (click)="cancel()"><i class="pi pi-angle-left"></i></a>
      <span>Dados da assinatura</span>
    </div>
</app-navbar>

<div class="content">
    <div class="subscriptions-view">
        <div class="subscriptions-view--content">
            <div class="subscriptions-view--header pb-6">
                <p>Assinante</p>
            </div>

            <div class="subscriptions-view_subscriber p-6">
                <div class="subscriber--content--item">
                    <p>Nome</p>

                    <span>Maria Antônia Lucatto</span>
                </div>
                <div class="subscriber--content--item">
                    <p>CPF/CNPJ</p>

                    <span>33662455896</span>
                </div>
                <div class="subscriber--content--item">
                    <p>E-mail</p>

                    <span>atendimento@lucatto.com.br</span>
                </div>
                <div class="subscriber--content--item">
                    <p>Contato</p>

                    <span>+55 11 3326-6395</span>
                </div>
            </div>

            <div class="subscriptions-view--header py-6">
                <p>Assinatura</p>
            </div>

            <div class="subscriptions-view_subscription p-6">
                <div class="subscription__items">
                    <div class="subscription--content--item">
                        <p>Nome</p>
    
                        <span>Maria Antônia Lucatto</span>
                    </div>
                    <div class="subscription--content--item">
                        <p>CPF/CNPJ</p>
    
                        <span>33662455896</span>
                    </div>
                    <div class="subscription--content--item">
                        <p>E-mail</p>
    
                        <span>atendimento@lucatto.com.br</span>
                    </div>
                    <div class="subscription--content--item">
                        <p>Contato</p>
    
                        <span>+55 11 3326-6395</span>
                    </div>
                </div>

                <div class="subscription--action">
                    <button 
                        type="button" 
                        class="line-button" 
                    >
                        Cancelar plano
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>