.edit-template-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .edit-template-navbar--title {
        display: flex;
        align-items: center;
        span {
            font-size: 2rem;
            font-weight: 700;
            margin-left: 1.5rem;
        }
        a {
            cursor: pointer;
            i {
                border: solid 1px var(--black);
                font-size: 2rem;
                border-radius: 50px;
                padding: 5px;
            }
        }
    }
    .edit-template-navbar--buttons {
        a {
            cursor: pointer;
            display: flex;
            align-items: center;
            span {
                font-size: 1.6rem;
            }
            i {
                font-size: 1.6rem;
            }
        }  
    }
}
.content {
    .edit-template {
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        padding: 6rem;
        margin-bottom: 2rem;
    }
    .edit-template--header {
        display: flex;
        justify-content: space-between;
        p {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
    .edit-template--textarea {
        p-dialog {
            .descriptionTable {
                border-collapse: collapse;
                margin: 0 3rem;
                tr {
                    width: 100%;
                    border-bottom: solid 2px var(--line);
                    td {
                        width: 50%;
                        height: 48px;
                        padding: 2rem 0;
                    }
                }
                tr:last-of-type {
                    border-bottom: none;
                }
                .header {
                    td {
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                }
                .body {
                    td {
                        font-size: 1.4rem;
                        a {
                            background-color: var(--secondary);
                            padding: 1rem;
                            font-size: 1.4rem;
                            font-weight: bolder;
                            border-radius: 10px;
                            margin-right: 1rem;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    .edit-template--variables {
        display: flex;
        flex-wrap: wrap;
        a {
            background-color: var(--secondary);
            padding: 1rem;
            font-size: 1.4rem;
            font-weight: bolder;
            border-radius: 10px;
            margin-right: 1rem;
            cursor: pointer;
        }
    }
    .edit-template--text {
        textarea {
            font-size: 3rem !important;
        }
    }
    .edit-template--footer {
        display: flex;
        justify-content: flex-end;
    }
}