<div class="subscriptions-payment">
    <div class="subscriptions-payment--billing-info grid">
        <div class="line col-12 billing-info--title">
            <img src="../../../assets/img/profile_photo.png" alt="logo">

            <p>Informações da cobrança</p>
        </div>

        <form class="col-12 grid my-7" [formGroup]="form">
            <div class="field col-12" formGroupName="card">
                <label for="cardName">Nome do titular do cartão</label>
                <input
                type="text"
                id="cardName"
                name="cardName"
                pInputText
                placeholder="Nome igual ao cartão"
                formControlName="holder"
                />
            </div>
    
            <div class="field col-9" formGroupName="card">
                <label for="cardNumber">Número do cartão</label>
                <input
                type="text"
                id="cardNumber"
                name="cardNumber"
                pInputText
                placeholder="0000-0000-0000-0000"
                mask="0000-0000-0000-0000"
                formControlName="cardNumber"
                />
            </div>
    
            <div class="col-3"></div>

            <div class="field col-3" formGroupName="card">
                <label for="expirationDate">Validade</label>
                <input
                type="text"
                id="expirationDate"
                name="expirationDate"
                pInputText
                placeholder="dd/aaaa"
                mask="00/0000"
                formControlName="expirationDate"
                />
            </div>
    
            <div class="field col-3" formGroupName="card">
                <label for="cardCvv">CVV</label>
                <input
                    type="text"
                    id="cardCvv"
                    name="cardCvv"
                    pInputText
                    placeholder="000"
                    mask="000"
                    formControlName="securityCode"
                />
            </div>
        </form>
    </div>

    <div class="subscriptions-payment--purchase grid">
        <div class="purchase--header">
            <div class="col-12 header--title">
                <p>Sua assinatura</p>
            </div>

            <div class="col-12 header--info">
                <div class="bottom-line header--info_product">
                    <span>CAIXA SURPRESA MENSAL SKIN CARE</span>
                </div>
    
                <div class="bottom-line header--info_description">
                    <span>
                        Todo mês uma surpresa diferente! Produtos selecionados conforme o valor da assinatura.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-12 purchase--total">
            <p>Total:</p>
            
            <span>R$ 200,00</span>
        </div>
        <div class="purchase--button">
            <button type="button" (click)="paySubscription()">
                Pagar
            </button>
        </div>
    </div>
</div>