<div class="login grid">
    <div class="md:col-7 login-image">
    </div>
    <div class="md:col-5 login-form">
        <form>
            <div class="login_header col-12 col-offset-3">
                <img src="../../../assets/img/fature-logo.png" alt="Logotipo">
            </div>
            <div class="field col-12 col-offset-3 md:col-6">
                <label for="email">E-mail</label>
                <input class="input-txt" type="email" pInputText placeholder="Digite seu e-mail"/>
            </div>
            <div class="field col-12 col-offset-3 md:col-6">
                <label for="email">Senha</label>
                <input type="password" pInputText placeholder="Digite sua senha"/>
            </div>
            <div class="login_footer col-12 col-offset-3 md:col-6">
                <button pButton type="button" label="Entrar"></button>
                <a href="#">Problemas com login?</a>
            </div>
        </form>
    </div>
</div>