<div class="container grid">
    <div class="md:col-6 container_image-grid">
    </div>
    <div class="md:col-6 container_login-grid">

        <div class="container_login-content">
            <form class="login-form">
                <div class="login_header col-12 col-offset-3 md:col-offset-0">
                    <img src="../../../assets/img/fature-logo.png" alt="Logotipo">
                </div>
                <div class="field col-12 col-offset-3 md:col-6">
                    <label for="email">E-mail</label>
                    <input class="input-txt" type="email" pInputText placeholder="Digite seu e-mail"/>
                </div>
                <div class="field col-12 col-offset-3 md:col-6">
                    <label for="email">Senha</label>
                    <input type="password" pInputText placeholder="Digite sua senha"/>
                </div>
                <div class="login_footer col-12 col-offset-3 md:col-6">
                    <button pButton type="button" label="Entrar"></button>
                    <a href="#">Problemas com login?</a>
                </div>
            </form>
        </div>
    </div>
</div>