<app-navbar>
    <div class="service-navbar">
        <a (click)="cancel()"><i class="pi pi-angle-left"></i></a>
        <span>Novo serviço</span>
    </div>
</app-navbar>

<div class="content">
    <div class="services">
        <div class="services--header">
            <p>Dados do serviço</p>
        </div>
        <form class="services--form my-6 grid" [formGroup]="servicesForm">
            <div class="field col-12 md:col-6">
                <label for="serviceName">Nome do serviço <span>*</span></label>
                <input
                  type="text"
                  id="serviceName"
                  formControlName="serviceName"
                  pInputText
                  placeholder="Nome do serviço"
                />
            </div>
            <div class="field col-12 md:col-3">
                <label for="value">Valor <span>*</span></label>
                <p-inputNumber 
                    mode="currency" 
                    currency="BRL"
                    id="value"
                    formControlName="value"
                    placeholder="Qual valor do serviço"
                ></p-inputNumber>
            </div>
            <div class="field col-12">
                <label for="productDescription">Descrição do serviço</label>
                <textarea
                    [rows]="5" 
                    [cols]="30" 
                    pInputTextarea 
                    [autoResize]="true"
                    id="productDescription"
                    formControlName="description"
                    placeholder="Descreva as caracteristicas do serviço"
                ></textarea>
            </div>
        </form>
        <div class="services--footer">
            <button 
                type="button" 
                class="secondary-form-button"
                (click)="clearForm()"
                >Limpar
            </button>
            <button 
                type="button" 
                class="primary-form-button ml-5"
                (click)="submitForm()"
                >Criar produto
            </button>
        </div>
    </div>
</div>